.about-content {
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 20px 50px 20px 50px;
    color: white;
    background-color: #090723bb;
    border-radius: 10px;
}
.about-content, .about-content .ul p, .about-content .ul li {
    font-size: 16px;
}
.about-content p:first-child {
    text-align: center;
}