.page-link {
    border-radius: 10%;
    border: none;
    box-sizing: border-box;
    margin: 0.1rem;
    
}
.pagination {
    --bs-pagination-active-bg: rgb(128, 75, 177);
    --bs-pagination-color: rgb(128, 75, 177);
    --bs-pagination-hover-color: rgb(128, 75, 177);
    --bs-pagination-focus-color: rgb(128, 75, 177);
    --bs-pagination-active-border-color: rgb(128, 75, 177);
    margin: auto;
}
.react-paginate {
    display: flex;
}


